<a href="https://colab.research.google.com/github/thedeenun/CS345_Final-project/blob/main/CS345_Income_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Income Classification

##ลักษณะของกลุ่มข้อมูล (Data Description)
หัวข้อ Income Dataset จาก https://www.kaggle.com/mastmustu/income ซึ่งเป็นข้อมูลที่มีเนื้อหาเกี่ยวกับข้อมูลสภาพอากาศของกรุงเทพมหานครในช่วงเวลาตั้ง

โดย Data set ที่เลือกมา มีลักษณะดังนี้

**Train Set**
* Data set characteristic : Multivariate
* Attribute characteristic : Int, Object
* จำนวน missing values : 5767
* จำนวน Instance : 43958 
* จำนวน Attribute: 14 ดังนี้
  1. age : 
  2. workclass : 
  3. fnlwgt : 
  4. education : 
  5. educational-num : 
  6. occupation : 
  7. relationship	:
  8. race :
  9. gender :
  10. capital-gain :
  11. capital-loss :
  12. hours-per-week :
  13. native-country	:
  14. income_>50k :


**Test Set**
* Data set characteristic : Multivariate
* Attribute characteristic : Int, Object
* จำนวน missing values : 0
* จำนวน Instance : 899 
* จำนวน Attribute: 13 ดังนี้
  1. age : 
  2. workclass : 
  3. fnlwgt : 
  4. education : 
  5. educational-num : 
  6. occupation : 
  7. relationship	:
  8. race :
  9. gender :
  10. capital-gain :
  11. capital-loss :
  12. hours-per-week :
  13. native-country	:

# Pre-procese

In [ ]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df_train = pd.read_csv('/content/train.csv')
df_train.head()

   age  workclass  fnlwgt  ... hours-per-week  native-country income_>50K
0   67    Private  366425  ...             60   United-States           1
1   17    Private  244602  ...             15   United-States           0
2   31    Private  174201  ...             40   United-States           1
3   58  State-gov  110199  ...             40   United-States           0
4   25  State-gov  149248  ...             40   United-States           0

[5 rows x 15 columns]

In [ ]:
df_test = pd.read_csv('/content/test.csv')
df_test.head()

   age         workclass  fnlwgt  ... capital-loss  hours-per-week native-country
0   39  Self-emp-not-inc  327120  ...            0              40       Portugal
1   32           Private  123253  ...            0              42  United-States
2   47           Private  232628  ...            0              40  United-States
3   19           Private  374262  ...            0              20  United-States
4   46  Self-emp-not-inc  311231  ...            0              40  United-States

[5 rows x 14 columns]

In [ ]:
df_train.isnull().sum()

age                   0
workclass          2498
fnlwgt                0
education             0
educational-num       0
marital-status        0
occupation         2506
relationship          0
race                  0
gender                0
capital-gain          0
capital-loss          0
hours-per-week        0
native-country      763
income_>50K           0
dtype: int64

In [ ]:
df_train.dropna(axis=0, inplace=True)

In [ ]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40727 entries, 0 to 43956
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              40727 non-null  int64
 1   workclass        40727 non-null  object
 2   fnlwgt           40727 non-null  int64
 3   education        40727 non-null  object
 4   educational-num  40727 non-null  int64
 5   marital-status   40727 non-null  object
 6   occupation       40727 non-null  object
 7   relationship     40727 non-null  object
 8   race             40727 non-null  object
 9   gender           40727 non-null  object
 10  capital-gain     40727 non-null  int64
 11  capital-loss     40727 non-null  int64
 12  hours-per-week   40727 non-null  int64
 13  native-country   40727 non-null  object
 14  income_>50K      40727 non-null  int64
dtypes: int64(7), object(8)
memory usage: 5.0+ MB

In [ ]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 899 entries, 0 to 898
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              899 non-null    int64
 1   workclass        899 non-null    object
 2   fnlwgt           899 non-null    int64
 3   education        899 non-null    object
 4   educational-num  899 non-null    int64
 5   marital-status   899 non-null    object
 6   occupation       899 non-null    object
 7   relationship     899 non-null    object
 8   race             899 non-null    object
 9   gender           899 non-null    object
 10  capital-gain     899 non-null    int64
 11  capital-loss     899 non-null    int64
 12  hours-per-week   899 non-null    int64
 13  native-country   899 non-null    object
dtypes: int64(6), object(8)
memory usage: 98.5+ KB

####one hot encode (Not too simple)

In [ ]:
list_store = []
list_ob = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'gender', 'native-country']
for i in  list_ob:
  for j in set(df_train[i]):
    temp = i+"_"+j
    if j not in list_store:
      list_store.append(temp)
  for j in set(df_test[i]):
    temp = i+"_"+j
    if j not in list_store:
      list_store.append(temp)    

print(list_store)

['workclass_Local-gov', 'workclass_Private', 'workclass_Federal-gov', 'workclass_Without-pay', 'workclass_Self-emp-inc', 'workclass_Self-emp-not-inc', 'workclass_State-gov', 'workclass_Local-gov', 'workclass_Private', 'workclass_Federal-gov', 'workclass_Self-emp-inc', 'workclass_Self-emp-not-inc', 'workclass_State-gov', 'education_10th', 'education_12th', 'education_Masters', 'education_7th-8th', 'education_Preschool', 'education_5th-6th', 'education_Prof-school', 'education_Some-college', 'education_1st-4th', 'education_Bachelors', 'education_Doctorate', 'education_9th', 'education_11th', 'education_Assoc-acdm', 'education_Assoc-voc', 'education_HS-grad', 'education_Prof-school', 'education_12th', 'education_Masters', 'education_7th-8th', 'education_10th', 'education_Preschool', 'education_5th-6th', 'education_Some-college', 'education_1st-4th', 'education_Bachelors', 'education_Doctorate', 'education_11th', 'education_Assoc-acdm', 'education_9th', 'education_Assoc-voc', 'education_HS-grad', 'marital-status_Married-AF-spouse', 'marital-status_Separated', 'marital-status_Never-married', 'marital-status_Widowed', 'marital-status_Divorced', 'marital-status_Married-civ-spouse', 'marital-status_Married-spouse-absent', 'marital-status_Married-AF-spouse', 'marital-status_Separated', 'marital-status_Never-married', 'marital-status_Widowed', 'marital-status_Divorced', 'marital-status_Married-civ-spouse', 'marital-status_Married-spouse-absent', 'occupation_Farming-fishing', 'occupation_Priv-house-serv', 'occupation_Other-service', 'occupation_Transport-moving', 'occupation_Prof-specialty', 'occupation_Sales', 'occupation_Armed-Forces', 'occupation_Protective-serv', 'occupation_Machine-op-inspct', 'occupation_Handlers-cleaners', 'occupation_Craft-repair', 'occupation_Adm-clerical', 'occupation_Tech-support', 'occupation_Exec-managerial', 'occupation_Adm-clerical', 'occupation_Priv-house-serv', 'occupation_Other-service', 'occupation_Transport-moving', 'occupation_Prof-specialty', 'occupation_Sales', 'occupation_Armed-Forces', 'occupation_Craft-repair', 'occupation_Machine-op-inspct', 'occupation_Handlers-cleaners', 'occupation_Protective-serv', 'occupation_Farming-fishing', 'occupation_Tech-support', 'occupation_Exec-managerial', 'relationship_Not-in-family', 'relationship_Husband', 'relationship_Other-relative', 'relationship_Wife', 'relationship_Unmarried', 'relationship_Own-child', 'relationship_Not-in-family', 'relationship_Husband', 'relationship_Other-relative', 'relationship_Wife', 'relationship_Unmarried', 'relationship_Own-child', 'race_White', 'race_Other', 'race_Amer-Indian-Eskimo', 'race_Asian-Pac-Islander', 'race_Black', 'race_White', 'race_Other', 'race_Amer-Indian-Eskimo', 'race_Asian-Pac-Islander', 'race_Black', 'gender_Female', 'gender_Male', 'gender_Female', 'gender_Male', 'native-country_Germany', 'native-country_England', 'native-country_Philippines', 'native-country_Vietnam', 'native-country_India', 'native-country_Guatemala', 'native-country_Cuba', 'native-country_Thailand', 'native-country_Mexico', 'native-country_Scotland', 'native-country_China', 'native-country_United-States', 'native-country_Greece', 'native-country_South', 'native-country_Poland', 'native-country_Canada', 'native-country_Peru', 'native-country_Jamaica', 'native-country_Puerto-Rico', 'native-country_Dominican-Republic', 'native-country_Honduras', 'native-country_Cambodia', 'native-country_France', 'native-country_Nicaragua', 'native-country_Columbia', 'native-country_Portugal', 'native-country_Hong', 'native-country_Hungary', 'native-country_Ecuador', 'native-country_El-Salvador', 'native-country_Haiti', 'native-country_Iran', 'native-country_Yugoslavia', 'native-country_Taiwan', 'native-country_Trinadad&Tobago', 'native-country_Italy', 'native-country_Outlying-US(Guam-USVI-etc)', 'native-country_Ireland', 'native-country_Holand-Netherlands', 'native-country_Japan', 'native-country_Laos', 'native-country_Germany', 'native-country_Philippines', 'native-country_England', 'native-country_India', 'native-country_Guatemala', 'native-country_Cuba', 'native-country_Thailand', 'native-country_Mexico', 'native-country_China', 'native-country_United-States', 'native-country_Greece', 'native-country_South', 'native-country_Poland', 'native-country_Canada', 'native-country_Jamaica', 'native-country_Puerto-Rico', 'native-country_Dominican-Republic', 'native-country_Cambodia', 'native-country_France', 'native-country_Nicaragua', 'native-country_Columbia', 'native-country_Portugal', 'native-country_Ecuador', 'native-country_El-Salvador', 'native-country_Haiti', 'native-country_Taiwan', 'native-country_Trinadad&Tobago', 'native-country_Italy', 'native-country_Laos']

In [ ]:
df_train2 = df_train.copy()
df_test2 = df_test.copy()

In [ ]:
df_train2[list_store] = 0
df_test2[list_store] = 0

In [ ]:
for i in list_ob:
  for j in list_store:
    df_train2.loc[df_train2[i].str.contains(j,case=False),j]=1
    df_test2.loc[df_test2[i].str.contains(j,case=False),j]=1

In [ ]:
df_train2 = df_train2.drop(columns=list_ob)
df_test2 = df_test2.drop(columns=list_ob)

In [ ]:
print(df_train2.info())
print(df_test2.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40727 entries, 0 to 43956
Columns: 105 entries, age to native-country_Laos
dtypes: int64(105)
memory usage: 32.9 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 899 entries, 0 to 898
Columns: 104 entries, age to native-country_Laos
dtypes: int64(104)
memory usage: 730.6 KB
None

In [ ]:
df_train2.head()

   age  fnlwgt  ...  native-country_Japan  native-country_Laos
0   67  366425  ...                     0                    0
1   17  244602  ...                     0                    0
2   31  174201  ...                     0                    0
3   58  110199  ...                     0                    0
4   25  149248  ...                     0                    0

[5 rows x 105 columns]

In [ ]:
df_test2.head()

   age  fnlwgt  ...  native-country_Japan  native-country_Laos
0   39  327120  ...                     0                    0
1   32  123253  ...                     0                    0
2   47  232628  ...                     0                    0
3   19  374262  ...                     0                    0
4   46  311231  ...                     0                    0

[5 rows x 104 columns]

####Real one hot encoding (Simple)

In [ ]:
one_hot_encoded_df_train = pd.get_dummies(df_train, columns = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'gender', 'native-country'])

In [ ]:
one_hot_encoded_df_train = pd.DataFrame(one_hot_encoded_df_train)

In [ ]:
one_hot_encoded_df_train.head()

In [ ]:
one_hot_encoded_df_test = pd.get_dummies(df_test, columns = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'gender', 'native-country'])

In [ ]:
one_hot_encoded_df_test = pd.DataFrame(one_hot_encoded_df_test)

In [ ]:
one_hot_encoded_df_test.head()

In [ ]:
list(one_hot_encoded_df_train.columns)

In [ ]:
list(one_hot_encoded_df_test.columns)

In [ ]:
list

# plot

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Build model

In [ ]:
from sklearn.preprocessing import MinMaxScaler
from sklearn import metrics
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier

In [ ]:
X = one_hot_encoded_df_train.drop(columns='income_>50K').values
y = one_hot_encoded_df_train.loc[:,['income_>50K']].values
# X_train = df_train2.drop(columns='income_>50K').values
# y_train = df_train2.loc[:,['income_>50K']].values
# X_test = df_test2.values

In [ ]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=1)

In [ ]:
scaler = MinMaxScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
models = []
models.append(('KNN', KNeighborsClassifier()))
models.append(('SVM', SVC(gamma='auto')))
models.append(('NeuralNet', MLPClassifier(solver='lbfgs', hidden_layer_sizes=54)))

results = []
names = []
for name, model in models:
	cv_results = cross_val_score(model, X_train, y_train, cv=10, scoring='accuracy')
	results.append(cv_results)
	names.append(name)
	print('%s: %f (%f)' % (name, cv_results.mean(), cv_results.std()))

Neural Network มีค่าความแม่นยำมากที่สุด

In [ ]:
model = MLPClassifier(solver='lbfgs', hidden_layer_sizes=54)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [ ]:
df_finished = df_test2.copy()
df_finished['income_>50K'] = y_pred
df_finished

     age  fnlwgt  ...  native-country_Laos  income_>50K
0     39  327120  ...                    0            0
1     32  123253  ...                    0            0
2     47  232628  ...                    0            0
3     19  374262  ...                    0            0
4     46  311231  ...                    0            0
..   ...     ...  ...                  ...          ...
894   27  302406  ...                    0            0
895   17  218124  ...                    0            0
896   24  127139  ...                    0            0
897   35  132879  ...                    0            0
898   37   44694  ...                    0            0

[899 rows x 105 columns]

In [ ]:
df_finished['income_>50K'].sum()

142

In [ ]:
y_test = df_finished.loc[:,['income_>50K']].values

In [ ]:
print("Confustion Matrix: \n",confusion_matrix(X_test,y_pred)) # ตรวจสอบความถูกต้อง validate
print()
print("Report: \n",classification_report(X_test,y_pred)) # ตรวจสอบความถูกต้อง validate
print()
print("Accuracy: ", metrics.accuracy_score(X_test, y_pred))

In [ ]:
testSet = one_hot_encoded_df_test.values

In [ ]:
model.predict(testSet)